@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* BARRE DE NAVIGATION */


body{
    box-sizing: border-box ;
    background-color: rgb(27, 27, 44) ;
    -webkit-background-size: cover ;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    background-size: cover;
  }

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img  {
  width: 100%;
  display: flex;
  border-radius: 10px;
  animation: catourne 0.2sec infinite
}

.buttonmenu img{
  display: none;
}
.nav-bar{
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  display: flex !important;
  background-color: rgb(33, 43, 51);
  border-radius: 14px;
}


a{
  text-decoration: none;
  color: black;
}

.logo-nav {
  max-width: 100px;
  
}


.nav-links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 0.5rem;
  
}
.dropmenu{
  display: none;
}



.link a{
  position: relative;
  color: white;
  padding-bottom: 0.75rem;
}

.link a::after{
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(164, 159, 228);
  transition: all 0.5s ease-out;
}

.link a:hover::after{
   width: 90%;
}
.link a{
  position: relative;
  color: white;
  padding-bottom: 0.75rem;
}

.dropmenu{
  list-style: none;
  padding-top: 1em;


}
.dropmenu li{
  background-color: rgb(164, 159, 228);
  text-decoration: none;
  padding: 1rem;
  width: 180px;
  outline: solid 2px rgb(88, 88, 88);
  transition: all 0.2s ease-out;
  text-align: center;
}

.dropmenu li:hover {
  scale: 1.02;
}



nav ul li:hover ul{
  display: block;
  position: absolute;
}
.dropmenu :hover{
  display: block;
  position: absolute;
}


#loisirs{
  font-weight: bold;
  color: white;
}
/* BARRE DE NAVIGATION */
#titrepage{
  color: white;
  text-align: center;
  font-size:50 ;
  margin-bottom: 50px;
  margin-top: 50px;

}

.cadre{
  list-style: none;
  background-color: rgb(33, 43, 51);
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: auto;
  color: white;
  border-radius: 14px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4em;
    
}

article{
    margin-bottom: 2em;
    margin-top: 2em;

}

#texte{
    margin-bottom: 2em;
    margin-top: 2rem;

}

.githubbutton{
    transition: all 0.5s ease;
}

.githubbutton:hover{
    scale: 1.02;
}
#envoyerbouton{
  margin-top: 2%;
}
